* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

h1 {text-align: center;
font-size: 50px;
font-family: 'Playfair Display SC', serif;
}

.photos {object-fit: cover;}

body {background-color: black;}

@media screen and (max-width: 1000px) {
  h1 {color: black;}
img {display: flex; flex-direction: column;}
}

body {padding-left: 180px;
padding-right: 80px;}

img {padding: 5px;}
